In [1]:
import pandas as pd
import numpy as np

In [2]:
rest = pd.read_csv("restaurant2.csv")

In [3]:
rest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121137 entries, 0 to 1121136
Data columns (total 46 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1121137 non-null  int64
 1   customer_id             1121137 non-null  object
 2   gender                  1121137 non-null  object
 3   status_x                1121137 non-null  int64
 4   verified_x              1121137 non-null  int64
 5   created_at_x            1121137 non-null  object
 6   updated_at_x            1121137 non-null  object
 7   location_number         1121137 non-null  int64
 8   location_type           556000 non-null   object
 9   latitude_x              1120737 non-null  float64
 10  longitude_x             1120737 non-null  float64
 11  id                      1121137 non-null  int64
 12  authentication_id       1121137 non-null  float64
 13  latitude_y              1121137 non-null  float64
 14  longitude_y             1121137 non-null  float64
 15  vendor_category_en      1121137 non-null  object
 16  vendor_category_id      1121137 non-null  float64
 17  delivery_charge         1121137 non-null  float64
 18  serving_distance        1121137 non-null  float64
 19  is_open                 1121137 non-null  float64
 20  OpeningTime             1020238 non-null  object
 21  OpeningTime2            1020238 non-null  object
 22  prepration_time         1121137 non-null  int64
 23  commission              952972 non-null   float64
 24  is_akeed_delivering     1121137 non-null  object
 25  discount_percentage     1121137 non-null  float64
 26  status_y                1121137 non-null  float64
 27  verified_y              1121137 non-null  int64
 28  rank                    1121137 non-null  int64
 29  language                952972 non-null   object
 30  vendor_rating           1121137 non-null  float64
 31  primary_tags            863276 non-null   object
 32  open_close_flags        1121137 non-null  float64
 33  vendor_tag              1087504 non-null  object
 34  vendor_tag_name         1087504 non-null  object
 35  one_click_vendor        1121137 non-null  object
 36  country_id              1121137 non-null  float64
 37  city_id                 1121137 non-null  float64
 38  created_at_y            1121137 non-null  object
 39  updated_at_y            1121137 non-null  object
 40  device_type             1121137 non-null  int64
 41  display_orders          1121137 non-null  int64
 42  location_number_obj     1121137 non-null  int64
 43  id_obj                  1121137 non-null  int64
 44  CID X LOC_NUM X VENDOR  1121137 non-null  object
 45  target                  1121137 non-null  int64
dtypes: float64(16), int64(13), object(17)
memory usage: 393.5+ MB

In [4]:
rest.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121137 entries, 0 to 1121136
Data columns (total 46 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1121137 non-null  int64
 1   customer_id             1121137 non-null  object
 2   gender                  1121137 non-null  object
 3   status_x                1121137 non-null  int64
 4   verified_x              1121137 non-null  int64
 5   created_at_x            1121137 non-null  object
 6   updated_at_x            1121137 non-null  object
 7   location_number         1121137 non-null  int64
 8   location_type           556000 non-null   object
 9   latitude_x              1120737 non-null  float64
 10  longitude_x             1120737 non-null  float64
 11  id                      1121137 non-null  int64
 12  authentication_id       1121137 non-null  float64
 13  latitude_y              1121137 non-null  float64
 14  longitude_y             1121137 non-null  float64
 15  vendor_category_en      1121137 non-null  object
 16  vendor_category_id      1121137 non-null  float64
 17  delivery_charge         1121137 non-null  float64
 18  serving_distance        1121137 non-null  float64
 19  is_open                 1121137 non-null  float64
 20  OpeningTime             1020238 non-null  object
 21  OpeningTime2            1020238 non-null  object
 22  prepration_time         1121137 non-null  int64
 23  commission              952972 non-null   float64
 24  is_akeed_delivering     1121137 non-null  object
 25  discount_percentage     1121137 non-null  float64
 26  status_y                1121137 non-null  float64
 27  verified_y              1121137 non-null  int64
 28  rank                    1121137 non-null  int64
 29  language                952972 non-null   object
 30  vendor_rating           1121137 non-null  float64
 31  primary_tags            863276 non-null   object
 32  open_close_flags        1121137 non-null  float64
 33  vendor_tag              1087504 non-null  object
 34  vendor_tag_name         1087504 non-null  object
 35  one_click_vendor        1121137 non-null  object
 36  country_id              1121137 non-null  float64
 37  city_id                 1121137 non-null  float64
 38  created_at_y            1121137 non-null  object
 39  updated_at_y            1121137 non-null  object
 40  device_type             1121137 non-null  int64
 41  display_orders          1121137 non-null  int64
 42  location_number_obj     1121137 non-null  int64
 43  id_obj                  1121137 non-null  int64
 44  CID X LOC_NUM X VENDOR  1121137 non-null  object
 45  target                  1121137 non-null  int64
dtypes: float64(16), int64(13), object(17)
memory usage: 1.4 GB

In [5]:
numeric = rest.select_dtypes(include=['int64', 'float64']).drop(['latitude_x','longitude_x', 'commission'], axis=1)

In [6]:
numeric.isnull().sum()

Unnamed: 0             0
status_x               0
verified_x             0
location_number        0
id                     0
authentication_id      0
latitude_y             0
longitude_y            0
vendor_category_id     0
delivery_charge        0
serving_distance       0
is_open                0
prepration_time        0
discount_percentage    0
status_y               0
verified_y             0
rank                   0
vendor_rating          0
open_close_flags       0
country_id             0
city_id                0
device_type            0
display_orders         0
location_number_obj    0
id_obj                 0
target                 0
dtype: int64

In [7]:
for col in numeric.columns:
    rest[col] = rest[col].astype('int')
    rest[col] = pd.to_numeric(rest[col], downcast='integer')

In [8]:
rest.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121137 entries, 0 to 1121136
Data columns (total 46 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1121137 non-null  int32
 1   customer_id             1121137 non-null  object
 2   gender                  1121137 non-null  object
 3   status_x                1121137 non-null  int8
 4   verified_x              1121137 non-null  int8
 5   created_at_x            1121137 non-null  object
 6   updated_at_x            1121137 non-null  object
 7   location_number         1121137 non-null  int8
 8   location_type           556000 non-null   object
 9   latitude_x              1120737 non-null  float64
 10  longitude_x             1120737 non-null  float64
 11  id                      1121137 non-null  int16
 12  authentication_id       1121137 non-null  int32
 13  latitude_y              1121137 non-null  int16
 14  longitude_y             1121137 non-null  int8
 15  vendor_category_en      1121137 non-null  object
 16  vendor_category_id      1121137 non-null  int8
 17  delivery_charge         1121137 non-null  int8
 18  serving_distance        1121137 non-null  int8
 19  is_open                 1121137 non-null  int8
 20  OpeningTime             1020238 non-null  object
 21  OpeningTime2            1020238 non-null  object
 22  prepration_time         1121137 non-null  int8
 23  commission              952972 non-null   float64
 24  is_akeed_delivering     1121137 non-null  object
 25  discount_percentage     1121137 non-null  int8
 26  status_y                1121137 non-null  int8
 27  verified_y              1121137 non-null  int8
 28  rank                    1121137 non-null  int8
 29  language                952972 non-null   object
 30  vendor_rating           1121137 non-null  int8
 31  primary_tags            863276 non-null   object
 32  open_close_flags        1121137 non-null  int8
 33  vendor_tag              1087504 non-null  object
 34  vendor_tag_name         1087504 non-null  object
 35  one_click_vendor        1121137 non-null  object
 36  country_id              1121137 non-null  int8
 37  city_id                 1121137 non-null  int8
 38  created_at_y            1121137 non-null  object
 39  updated_at_y            1121137 non-null  object
 40  device_type             1121137 non-null  int8
 41  display_orders          1121137 non-null  int8
 42  location_number_obj     1121137 non-null  int8
 43  id_obj                  1121137 non-null  int16
 44  CID X LOC_NUM X VENDOR  1121137 non-null  object
 45  target                  1121137 non-null  int8
dtypes: float64(3), int16(3), int32(2), int8(21), object(17)
memory usage: 1.3 GB

In [9]:
rest["gender"]=rest["gender"].astype("category")

In [10]:
rest.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121137 entries, 0 to 1121136
Data columns (total 46 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1121137 non-null  int32
 1   customer_id             1121137 non-null  object
 2   gender                  1121137 non-null  category
 3   status_x                1121137 non-null  int8
 4   verified_x              1121137 non-null  int8
 5   created_at_x            1121137 non-null  object
 6   updated_at_x            1121137 non-null  object
 7   location_number         1121137 non-null  int8
 8   location_type           556000 non-null   object
 9   latitude_x              1120737 non-null  float64
 10  longitude_x             1120737 non-null  float64
 11  id                      1121137 non-null  int16
 12  authentication_id       1121137 non-null  int32
 13  latitude_y              1121137 non-null  int16
 14  longitude_y             1121137 non-null  int8
 15  vendor_category_en      1121137 non-null  object
 16  vendor_category_id      1121137 non-null  int8
 17  delivery_charge         1121137 non-null  int8
 18  serving_distance        1121137 non-null  int8
 19  is_open                 1121137 non-null  int8
 20  OpeningTime             1020238 non-null  object
 21  OpeningTime2            1020238 non-null  object
 22  prepration_time         1121137 non-null  int8
 23  commission              952972 non-null   float64
 24  is_akeed_delivering     1121137 non-null  object
 25  discount_percentage     1121137 non-null  int8
 26  status_y                1121137 non-null  int8
 27  verified_y              1121137 non-null  int8
 28  rank                    1121137 non-null  int8
 29  language                952972 non-null   object
 30  vendor_rating           1121137 non-null  int8
 31  primary_tags            863276 non-null   object
 32  open_close_flags        1121137 non-null  int8
 33  vendor_tag              1087504 non-null  object
 34  vendor_tag_name         1087504 non-null  object
 35  one_click_vendor        1121137 non-null  object
 36  country_id              1121137 non-null  int8
 37  city_id                 1121137 non-null  int8
 38  created_at_y            1121137 non-null  object
 39  updated_at_y            1121137 non-null  object
 40  device_type             1121137 non-null  int8
 41  display_orders          1121137 non-null  int8
 42  location_number_obj     1121137 non-null  int8
 43  id_obj                  1121137 non-null  int16
 44  CID X LOC_NUM X VENDOR  1121137 non-null  object
 45  target                  1121137 non-null  int8
dtypes: category(1), float64(3), int16(3), int32(2), int8(21), object(16)
memory usage: 1.2 GB

In [11]:
rest.select_dtypes(include=['object']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121137 entries, 0 to 1121136
Data columns (total 16 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1121137 non-null  object
 1   created_at_x            1121137 non-null  object
 2   updated_at_x            1121137 non-null  object
 3   location_type           556000 non-null   object
 4   vendor_category_en      1121137 non-null  object
 5   OpeningTime             1020238 non-null  object
 6   OpeningTime2            1020238 non-null  object
 7   is_akeed_delivering     1121137 non-null  object
 8   language                952972 non-null   object
 9   primary_tags            863276 non-null   object
 10  vendor_tag              1087504 non-null  object
 11  vendor_tag_name         1087504 non-null  object
 12  one_click_vendor        1121137 non-null  object
 13  created_at_y            1121137 non-null  object
 14  updated_at_y            1121137 non-null  object
 15  CID X LOC_NUM X VENDOR  1121137 non-null  object
dtypes: object(16)
memory usage: 136.9+ MB

In [12]:
rest.select_dtypes(include=['object']).head()

,customer_id,created_at_x,updated_at_x,location_type,vendor_category_en,OpeningTime,OpeningTime2,is_akeed_delivering,language,primary_tags,vendor_tag,vendor_tag_name,one_click_vendor,created_at_y,updated_at_y,CID X LOC_NUM X VENDOR
0,TCHWPBT,2018-02-07 19:16:23,2018-02-07 19:16:23,Work,Restaurants,11:00AM-11:30PM,-,Yes,EN,"{""primary_tags"":""4""}","2,4,5,8,91,22,12,24,16,23","Arabic,Breakfast,Burgers,Desserts,Free Deliver...",Y,2018-01-30 14:42:04,2020-04-07 15:12:43,TCHWPBT X 0 X 4
1,TCHWPBT,2018-02-07 19:16:23,2018-02-07 19:16:23,Work,Restaurants,08:30AM-10:30PM,-,Yes,EN,"{""primary_tags"":""7""}","4,41,51,34,27,15,24,16,28","Breakfast,Cakes,Crepes,Italian,Pasta,Pizzas,Sa...",Y,2018-05-03 12:32:06,2020-04-05 20:46:03,TCHWPBT X 0 X 13
2,TCHWPBT,2018-02-07 19:16:23,2018-02-07 19:16:23,Work,Restaurants,08:00AM-10:45PM,-,Yes,EN,"{""primary_tags"":""71""}","4,8,91,10","Breakfast,Desserts,Free Delivery,Indian",Y,2018-05-04 22:28:22,2020-04-07 16:35:55,TCHWPBT X 0 X 20
3,TCHWPBT,2018-02-07 19:16:23,2018-02-07 19:16:23,Work,Restaurants,10:59AM-10:30PM,-,Yes,EN,"{""primary_tags"":""46""}","5,8,30,24","Burgers,Desserts,Fries,Salads",Y,2018-05-06 19:20:48,2020-04-02 00:56:17,TCHWPBT X 0 X 23
4,TCHWPBT,2018-02-07 19:16:23,2018-02-07 19:16:23,Work,Restaurants,11:00AM-11:45PM,-,Yes,EN,"{""primary_tags"":""32""}",5,Burgers,Y,2018-05-17 22:12:38,2020-04-05 15:57:41,TCHWPBT X 0 X 28

In [13]:
rest['created_at_x'] = pd.to_datetime(rest['created_at_x'])
rest['updated_at_x'] = pd.to_datetime(rest['updated_at_x'])
rest['created_at_y'] = pd.to_datetime(rest['created_at_y'])
rest['updated_at_y'] = pd.to_datetime(rest['updated_at_y'])

In [14]:
rest.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121137 entries, 0 to 1121136
Data columns (total 46 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1121137 non-null  int32
 1   customer_id             1121137 non-null  object
 2   gender                  1121137 non-null  category
 3   status_x                1121137 non-null  int8
 4   verified_x              1121137 non-null  int8
 5   created_at_x            1121137 non-null  datetime64[ns]
 6   updated_at_x            1121137 non-null  datetime64[ns]
 7   location_number         1121137 non-null  int8
 8   location_type           556000 non-null   object
 9   latitude_x              1120737 non-null  float64
 10  longitude_x             1120737 non-null  float64
 11  id                      1121137 non-null  int16
 12  authentication_id       1121137 non-null  int32
 13  latitude_y              1121137 non-null  int16
 14  longitude_y             1121137 non-null  int8
 15  vendor_category_en      1121137 non-null  object
 16  vendor_category_id      1121137 non-null  int8
 17  delivery_charge         1121137 non-null  int8
 18  serving_distance        1121137 non-null  int8
 19  is_open                 1121137 non-null  int8
 20  OpeningTime             1020238 non-null  object
 21  OpeningTime2            1020238 non-null  object
 22  prepration_time         1121137 non-null  int8
 23  commission              952972 non-null   float64
 24  is_akeed_delivering     1121137 non-null  object
 25  discount_percentage     1121137 non-null  int8
 26  status_y                1121137 non-null  int8
 27  verified_y              1121137 non-null  int8
 28  rank                    1121137 non-null  int8
 29  language                952972 non-null   object
 30  vendor_rating           1121137 non-null  int8
 31  primary_tags            863276 non-null   object
 32  open_close_flags        1121137 non-null  int8
 33  vendor_tag              1087504 non-null  object
 34  vendor_tag_name         1087504 non-null  object
 35  one_click_vendor        1121137 non-null  object
 36  country_id              1121137 non-null  int8
 37  city_id                 1121137 non-null  int8
 38  created_at_y            1121137 non-null  datetime64[ns]
 39  updated_at_y            1121137 non-null  datetime64[ns]
 40  device_type             1121137 non-null  int8
 41  display_orders          1121137 non-null  int8
 42  location_number_obj     1121137 non-null  int8
 43  id_obj                  1121137 non-null  int16
 44  CID X LOC_NUM X VENDOR  1121137 non-null  object
 45  target                  1121137 non-null  int8
dtypes: category(1), datetime64[ns](4), float64(3), int16(3), int32(2), int8(21), object(12)
memory usage: 942.2 MB

In [23]:
len(rest)/150

7474.246666666667

In [24]:
for col in rest.select_dtypes(include=['object']):
    if len(rest[col].unique()) <= len(rest)/150:
        rest[col] = rest[col].astype('category')

In [25]:
rest.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121137 entries, 0 to 1121136
Data columns (total 46 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1121137 non-null  int32
 1   customer_id             1121137 non-null  category
 2   gender                  1121137 non-null  category
 3   status_x                1121137 non-null  int8
 4   verified_x              1121137 non-null  int8
 5   created_at_x            1121137 non-null  datetime64[ns]
 6   updated_at_x            1121137 non-null  datetime64[ns]
 7   location_number         1121137 non-null  int8
 8   location_type           556000 non-null   category
 9   latitude_x              1120737 non-null  float64
 10  longitude_x             1120737 non-null  float64
 11  id                      1121137 non-null  int16
 12  authentication_id       1121137 non-null  int32
 13  latitude_y              1121137 non-null  int16
 14  longitude_y             1121137 non-null  int8
 15  vendor_category_en      1121137 non-null  category
 16  vendor_category_id      1121137 non-null  int8
 17  delivery_charge         1121137 non-null  int8
 18  serving_distance        1121137 non-null  int8
 19  is_open                 1121137 non-null  int8
 20  OpeningTime             1020238 non-null  category
 21  OpeningTime2            1020238 non-null  category
 22  prepration_time         1121137 non-null  int8
 23  commission              952972 non-null   float64
 24  is_akeed_delivering     1121137 non-null  category
 25  discount_percentage     1121137 non-null  int8
 26  status_y                1121137 non-null  int8
 27  verified_y              1121137 non-null  int8
 28  rank                    1121137 non-null  int8
 29  language                952972 non-null   category
 30  vendor_rating           1121137 non-null  int8
 31  primary_tags            863276 non-null   category
 32  open_close_flags        1121137 non-null  int8
 33  vendor_tag              1087504 non-null  category
 34  vendor_tag_name         1087504 non-null  category
 35  one_click_vendor        1121137 non-null  category
 36  country_id              1121137 non-null  int8
 37  city_id                 1121137 non-null  int8
 38  created_at_y            1121137 non-null  datetime64[ns]
 39  updated_at_y            1121137 non-null  datetime64[ns]
 40  device_type             1121137 non-null  int8
 41  display_orders          1121137 non-null  int8
 42  location_number_obj     1121137 non-null  int8
 43  id_obj                  1121137 non-null  int16
 44  CID X LOC_NUM X VENDOR  1121137 non-null  object
 45  target                  1121137 non-null  int8
dtypes: category(12), datetime64[ns](4), float64(3), int16(3), int32(2), int8(21), object(1)
memory usage: 190.6 MB